/**
 * Aller Theme
 *
 * Use this file to add custom styles.
 *
 * Use:
 * Compass - $ gem install compass
 * Compass 960.gs plugin - $ gem install compass-960-plugin
 *
 * Recommended:
 * Scout - http://mhs.github.com/scout-app/
 */
/* 960.gs configuration */
/* Variables */
/* Helpers */
/* AT theme overrides */
body.ptf-gwf-bitter #page-title,
body.ptf-gwf-bitter .article-title,
body.ptf-gwf-bitter .comment-title,
body.ptf-gwf-bitter .block-title,
body.ptf-gwf-bitter #nav-wrapper {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}

.fs-small {
  font-size: 0.922509225em;
}

.block-inner, .region-help, .messages,
#primary-nav, #secondary-nav,
#main-content > header, #branding, #attribution {
  margin-left: 5px;
  margin-right: 5px;
}

/* Base */
#top-bar-wrapper {
  border-bottom: 1px solid #d1a9c1;
}
#top-bar-wrapper a {
  color: #000;
}
#top-bar-wrapper a:hover, #top-bar-wrapper a.active {
  color: #8d2765;
}
#top-bar-wrapper .block {
  float: left;
  margin: 0;
  padding: 9px 0;
}
#top-bar-wrapper #block-system-user-menu {
  float: right;
}
#top-bar-wrapper .block-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#top-bar-wrapper .content .menu {
  line-height: 1;
  margin: 0;
  padding: 0;
}
#top-bar-wrapper .content .menu li {
  float: left;
  margin: 0;
  padding: 0 1em;
  list-style: none;
  list-style-image: none;
  border-right: 2px solid #7f7f7f;
}
#top-bar-wrapper .content .menu li.first {
  padding-left: 0.5em;
}
#top-bar-wrapper .content .menu li.last {
  padding-right: 0.5em;
  border-right: none;
}

#branding {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin: 15px 0 2.083em;
}
#branding #logo img {
  display: block;
}
#branding hgroup {
  display: none;
}

#header-wrapper {
  border-bottom: none;
  padding-top: 1em;
}
#header-wrapper .region-header {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 630px;
  margin: 1em 0 0;
}

#menu-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -ms-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: linear-gradient(#cfcfcf, #e1e1e1);
  box-shadow: none;
  clear: both;
  min-height: 2.583em;
  top: 0;
  margin-top: 0.333em;
}
#menu-bar nav {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  z-index: 10;
}
#menu-bar nav .sf-menu {
  margin: 0 5px;
}
#menu-bar nav .sf-menu .sf-sub-indicator {
  right: 0.65em;
  visibility: hidden;
}
#menu-bar nav .sf-menu li {
  line-height: 2.067em;
  border-right: 1px solid #cacaca;
  position: relative;
}
#menu-bar nav .sf-menu li.first {
  border-left: 1px solid #cacaca;
}
#menu-bar nav .sf-menu a {
  color: #373737;
  line-height: 2.067em;
  text-transform: none;
  padding: 0 24px;
}
#menu-bar nav .sf-menu a:focus, #menu-bar nav .sf-menu a:hover, #menu-bar nav .sf-menu a.active, #menu-bar nav .sf-menu a.active-trail {
  color: #fff;
  background-color: #3d3d3d;
}
#menu-bar nav .sf-menu li.sfHover a.sf-depth-1 {
  color: #fff;
  background-color: #3d3d3d;
}
#menu-bar nav .sf-menu li.sfHover a.sf-depth-1 .sf-sub-indicator {
  visibility: visible;
}
#menu-bar nav .sf-menu ul {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  border: 4px solid #3d3d3d;
  position: absolute;
  margin: -0.933em 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#menu-bar nav .sf-menu ul li {
  font-size: 1em;
  float: none;
  display: block;
  border: none;
  overflow: hidden;
}
#menu-bar nav .sf-menu ul li.first, #menu-bar nav .sf-menu ul li.last {
  border: none;
}
#menu-bar nav .sf-menu ul a,
#menu-bar nav .sf-menu ul a.active, #menu-bar nav .sf-menu ul.active-trail {
  color: #fe8f00;
  font-weight: bold;
  font-style: normal;
  white-space: nowrap;
  background: none;
  display: block;
  float: none;
  min-width: 9em;
  padding: 0 1em;
}
#menu-bar nav .sf-menu ul a:hover,
#menu-bar nav .sf-menu ul a.active:hover, #menu-bar nav .sf-menu ul.active-trail:hover {
  color: #3d3d3d;
  background: none;
}
#menu-bar nav .sf-menu ul ul {
  border: none;
  position: relative;
  top: 0!important;
  left: 0;
  right: 0;
  margin: 0 0 0.333em 0.667em;
  clear: both;
  display: block!important;
}
#menu-bar nav .sf-menu ul ul a {
  color: #3d3d3d;
  font-size: 0.933em;
  font-weight: normal;
  line-height: 1.786em;
}
#menu-bar nav .sf-menu ul ul a:hover {
  color: #fe8f00;
}

#secondary-content-wrapper {
  background-color: #e8e8e8;
  margin-top: 15px;
}
#secondary-content-wrapper .region,
#secondary-content-wrapper .block,
#secondary-content-wrapper .texture-overlay {
  margin: 0;
  padding: 0;
}
#secondary-content-wrapper .block-block p, #secondary-content-wrapper .block-block img {
  display: block;
  margin: 0;
}

#content-wrapper {
  padding: 1em 0 0;
  border: none;
}
#content-wrapper.no-secondary {
  padding-top: 1em;
}
.page-home #content-wrapper.no-secondary {
  padding-top: 2em;
}

.breadcrumb-wrapper {
  background-color: #f4f4f4;
  margin: 0 0 1.5em;
  padding: 6px 0;
}
.breadcrumb-wrapper #breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: 0;
}
.breadcrumb-wrapper h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.breadcrumb-wrapper #crumbs {
  font-weight: bold;
  margin-left: 6px;
}
.breadcrumb-wrapper #crumbs a {
  color: #333;
}
.breadcrumb-wrapper #crumbs a:hover {
  color: #8C2764;
}
.breadcrumb-wrapper #crumbs li span {
  padding: 0 10px;
}

/* Footer */
#page-footer {
  margin-top: 31px;
  border: none;
}
#page-footer .block-title {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.278em;
}
#page-footer .block-content,
#page-footer .content {
  font-size: 1.167em;
}
#page-footer .block-content li,
#page-footer .content li {
  margin-bottom: 0.214em;
}
#page-footer .block-region-four-first {
  margin-left: 40px;
}
#page-footer .block-region-four-fourth {
  margin-right: 40px;
}

#footer-panels-wrapper {
  padding-top: 1px;
  border-top: 1px solid #a4a4a4;
  border-bottom: none;
}
#footer-panels-wrapper .gpanel {
  background: #3d3d3d;
  margin: -33px 5px 0;
  padding-top: 2.5em;
  border-top: 1px solid #a4a4a4;
}

#footer-wrapper {
  color: #fff;
  border-top: none;
}

/* Hjem */
.page-home #columns {
  background-color: #e9e9e9;
  margin: 0 5px;
}
.page-home .region-sidebar-second {
  margin-top: 5.583em;
}
.page-home .region-sidebar-second .block {
  padding-right: 40px;
}

#hjem {
  margin: 30px;
}
#hjem .pane-title {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  margin-left: 5px;
  margin-bottom: 0.5em;
}
#hjem .pane-content {
  background: transparent url(../images/bg_pane-shadow.png) no-repeat 0 0;
  border-top: 1px solid #d7d7d7;
  padding-top: 26px;
}

.page-home .pane-product-display-teasers-latest-products .views-row {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-5 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-9 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-13 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-17 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-21 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-25 {
  clear: both;
}
.page-home .pane-product-display-teasers-latest-products .views-row.views-row-29 {
  clear: both;
}

/* Produktvisning */
.page-type-produktvisning {
  /* Content */
}
.page-type-produktvisning #content .block-inner {
  background-color: #e9e9e9;
}

.article-type-produktvisning.view-mode-full {
  padding: 40px 0;
  margin-bottom: 40px;
}
.article-type-produktvisning.view-mode-full .group-left {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 430px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
}
.article-type-produktvisning.view-mode-full .group-right {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  padding-right: 40px;
  margin-right: 0;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-image figure {
  padding: 0;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-image img {
  background: #FFF;
  -moz-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -o-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  display: block;
  padding: 10px;
}
.article-type-produktvisning.view-mode-full .field-field-product-image img {
  background: #FFF;
  -moz-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -o-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  display: block;
  padding: 10px;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides {
  padding: 20px 40px;
  margin: -10px -30px;
  overflow: hidden;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .gallery-slide {
  margin: -10px;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .colorbox {
  background: transparent url("../images/icon_product-gallery.png") no-repeat 0 0;
  width: 44px;
  height: 41px;
  position: absolute;
  top: 13px;
  right: 10px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  display: block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .colorbox:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .colorbox:focus {
  outline: none;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .slide-button {
  display: block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background: transparent url("../images/icon_product-gallery.png") no-repeat left bottom;
  width: 22px;
  height: 32px;
  top: 47%;
  position: absolute;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-slides .slide-button.next-slide {
  background-position: right bottom;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-thumbs img {
  margin: -4px;
  padding: 4px;
  -moz-box-shadow: 0 0 5px rgba(37, 37, 37, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(37, 37, 37, 0.4);
  -o-box-shadow: 0 0 5px rgba(37, 37, 37, 0.4);
  box-shadow: 0 0 5px rgba(37, 37, 37, 0.4);
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-thumbs .active img,
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-thumbs a:hover img {
  -moz-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  -o-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-thumbs ul {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
.article-type-produktvisning.view-mode-full .field-field-product-image .gallery-thumbs li {
  float: none;
  display: inline-block;
  padding: 10px;
}
.article-type-produktvisning.view-mode-full .field-name-service-links-displays-group {
  text-align: right;
  height: 2.083em;
  margin: -2px -20px -1.917em 0;
}
.article-type-produktvisning.view-mode-full .field-name-service-links-displays-group .service-links div, .article-type-produktvisning.view-mode-full .field-name-service-links-displays-group .service-links iframe {
  text-align: right;
  vertical-align: top;
}
.article-type-produktvisning.view-mode-full .field-name-service-links-displays-group .service-links div iframe {
  vertical-align: baseline;
}
.article-type-produktvisning.view-mode-full .field-name-title h2 {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 2.333em;
  font-weight: bold;
  letter-spacing: -0.014em;
  margin-top: 36px;
}
.article-type-produktvisning.view-mode-full .field-name-dynamic-field-forfatter {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-style: oblique;
  margin-bottom: 15px;
}
.article-type-produktvisning.view-mode-full .group-cart {
  margin-bottom: 23px;
  padding-top: 1.583em;
  padding-bottom: 0.5em;
  -moz-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -webkit-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -o-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  *zoom: 1;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-commerce-price {
  font-size: 1.25em;
  float: left;
}
.article-type-produktvisning.view-mode-full .group-cart table {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-style: oblique;
  line-height: 1.067em;
}
.article-type-produktvisning.view-mode-full .group-cart table tbody,
.article-type-produktvisning.view-mode-full .group-cart table tr {
  border: none;
}
.article-type-produktvisning.view-mode-full .group-cart table td {
  color: #333;
  text-align: left;
  float: left;
  padding: 0 0.35em 0 0;
}
.article-type-produktvisning.view-mode-full .group-cart table td.price-label, .article-type-produktvisning.view-mode-full .group-cart table td.price-amount {
  font-size: 1em;
}
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-price td {
  font-size: 1.867em;
  line-height: 1;
}
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-list td {
  text-decoration: none;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product {
  float: right;
  clear: both;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product input.form-submit {
  font-size: 1.25em;
  background-image: url(../images/icon_addtocart.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background-image: url(../images/icon_addtocart.png), -webkit-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -moz-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -o-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -ms-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), linear-gradient(#a2668a, #8c2764);
  background-repeat: no-repeat;
  background-position: 94.5% center;
  padding: 11px 60px 11px 13px;
  margin: 7px;
  -webkit-border-radius: 14px 11px;
  -moz-border-radius: 14px 14px / 11px 11px;
  -o-border-radius: 14px 14px / 11px 11px;
  -ms-border-radius: 14px 14px / 11px 11px;
  -khtml-border-radius: 14px 14px / 11px 11px;
  border-radius: 14px 14px / 11px 11px;
}
.article-type-produktvisning.view-mode-full .group-details {
  font-size: 1.417em;
  line-height: 1.206em;
}
.article-type-produktvisning.view-mode-full .group-details .commerce-product-field {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 190px;
  margin: 0 0 16px;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-description {
  font-size: 1.417em;
  line-height: 1.206em;
  margin-bottom: 37px;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-author {
  font-size: 1.25em;
  line-height: 1.2em;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-author h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.article-type-produktvisning.view-mode-teaser {
  text-align: center;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-image {
  vertical-align: top;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-image figure {
  padding: 0;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-image img {
  background: #fff;
  display: block;
  padding: 4px;
  margin-bottom: 1em;
  -moz-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -o-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -moz-transition: box-shadow 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-image a:hover img {
  -moz-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  -o-box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
  box-shadow: 0 0 10px rgba(141, 39, 101, 0.51);
}
.article-type-produktvisning.view-mode-teaser .field-name-title {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.214em;
  margin-bottom: 2px;
}
.article-type-produktvisning.view-mode-teaser .field-name-title a {
  color: #8d2765;
}
.article-type-produktvisning.view-mode-teaser .field-name-title a:hover {
  color: #651c48;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-author {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-style: oblique;
  font-size: 1.167em;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-author a {
  color: #000;
}
.article-type-produktvisning.view-mode-teaser .field-name-field-product-author a:hover {
  color: #651c48;
}
.article-type-produktvisning.view-mode-teaser .field-name-commerce-price {
  color: #000;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.333em;
  margin-top: 0.563em;
}

/* Commerce */
.region-header .block-search-api-page {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 350px;
  margin: 8px 0 0;
}
.region-header .block-search-api-page form {
  text-align: left;
}
.region-header .block-search-api-page form .form-item {
  display: inline;
  margin: 5px 0;
}
.region-header .block-search-api-page form .form-text {
  font-size: 1.167em;
  background: #fff;
  background-clip: padding-box;
  width: 228px;
  height: calc(6px, 14px)1em;
  margin-right: 7px;
  padding: 6px 10px;
  border: 2px solid #6f6f6f;
  border-top-color: #686868;
  border-bottom-color: #747474;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: textfield;
}
.region-header .block-search-api-page form .form-text:focus {
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}
.region-header .block-search-api-page form .form-submit {
  font-size: 1.25em;
  text-transform: uppercase;
  background: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 4px 15px;
  border: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.region-header .block-commerce-cart {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 230px;
  margin: -0.833em 0 0;
  padding-left: 40px;
}
.region-header .block-commerce-cart .block-content {
  text-align: center;
  background-color: #862560;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  -o-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  border: 1px solid rgba(212, 212, 212, 0.18);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  min-height: 5em;
  margin: 5px 0 1.583em;
  padding: 3px 15px;
}
.region-header .block-commerce-cart .block-content .view-header div, .region-header .block-commerce-cart .block-content .view-header ul {
  text-align: center;
  display: inline-block;
  float: none;
  margin: 0;
}
.region-header .block-commerce-cart .block-content .view-header .line-item-summary {
  width: 100%;
  display: block;
}
.region-header .block-commerce-cart .block-content .view-header ul {
  font-size: 0.722em;
}
.region-header .block-commerce-cart .block-content .cart-contents,
.region-header .block-commerce-cart .block-content .cart-empty-block {
  color: #fff;
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  padding: 0;
}
.region-header .block-commerce-cart .block-content .cart-contents .views-field-quantity,
.region-header .block-commerce-cart .block-content .cart-empty-block .views-field-quantity {
  margin-right: 0.5em;
}
.region-header .block-commerce-cart .block-content .cart-empty-block {
  font-size: 1em;
  display: block;
  margin-top: 1.75em;
}
.region-header .block-commerce-cart .block-content .cart-contents {
  background: transparent;
}
.region-header .block-commerce-cart .block-content .view-content {
  display: none;
}

.sidebar .block-menu .block-inner {
  background-color: #3d3d3d;
  margin: 0;
  padding: 15px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.sidebar .block-menu .block-inner .menu {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.25em;
  line-height: 2.133em;
  margin: 0;
}
.sidebar .block-menu .block-inner .menu li {
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
.sidebar .block-menu .block-inner .menu a {
  color: #fff;
  background: transparent url(../images/icon_sidebar-dropdown.png) no-repeat right center;
  display: block;
  padding-left: 1px;
  border-top: 1px solid #868686;
  border-bottom: 1px solid #868686;
}
.sidebar .block-menu .block-inner .menu .first a {
  border-top: none;
}
.sidebar .block-menu .block-inner .menu .last a {
  border-bottom: none;
}
.sidebar .block-menu .block-inner .menu ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.sidebar .block-menu .block-inner .menu ul li {
  font-size: 1em;
  font-style: normal;
  margin-left: 10px;
}
.sidebar .block-menu .block-inner .menu ul li.dhtml-menu-cloned-leaf {
  font-size: 1.083em;
  margin-left: 0;
}
.sidebar .block-menu .block-inner .menu ul a {
  background: none;
  border: none;
}

form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit {
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
  background: #a2668a, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background: #a2668a, -webkit-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -moz-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -o-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -ms-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, linear-gradient(#a2668a, #8c2764);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 3px 5px 4px;
}
form.commerce-add-to-cart input.form-submit:hover,
.add-to-cart #edit-actions input.form-submit:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px #8c2764;
  -webkit-box-shadow: 0 1px 5px #8c2764;
  -o-box-shadow: 0 1px 5px #8c2764;
  box-shadow: 0 1px 5px #8c2764;
}

.commerce-line-item-actions,
.checkout-buttons {
  font-size: 1em;
  text-align: right;
}

input#edit-checkout,
input#edit-continue,
input#edit-submit,
input#edit-cancel,
input#edit-back {
  color: #fff;
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background: -webkit-linear-gradient(#a2668a, #8c2764);
  background: -moz-linear-gradient(#a2668a, #8c2764);
  background: -o-linear-gradient(#a2668a, #8c2764);
  background: -ms-linear-gradient(#a2668a, #8c2764);
  background: linear-gradient(#a2668a, #8c2764);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -khtml-border-radius: 1.25em;
  border-radius: 1.25em;
  float: none;
  margin: 0 1em;
  padding: 5px 1em 6px;
}
input#edit-checkout:hover,
input#edit-continue:hover,
input#edit-submit:hover,
input#edit-cancel:hover,
input#edit-back:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px #8c2764;
  -webkit-box-shadow: 0 1px 5px #8c2764;
  -o-box-shadow: 0 1px 5px #8c2764;
  box-shadow: 0 1px 5px #8c2764;
}

/* Commerce Checkout */
ol.inline.commerce-checkout-progress {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  list-style: none;
  margin: 1em 0;
}
ol.inline.commerce-checkout-progress li {
  width: 33.3%;
  color: #fff;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background: #e1e1e1 url("../images/bg_arrow.png") no-repeat right center;
}
ol.inline.commerce-checkout-progress li.active {
  background-color: #fdc064;
}
ol.inline.commerce-checkout-progress li.last {
  background-image: none;
}
ol.inline.commerce-checkout-progress li a {
  display: block;
  color: #fff;
  background: #75cd76 url("../images/bg_arrow.png") no-repeat right center;
}
ol.inline.commerce-checkout-progress li a:hover {
  background-color: #5dc65e;
}

div.checkout-completion-message {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.333em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  background: #E1E1E1;
  margin-bottom: 2em;
  padding: 1.5em 2em 0.75em;
}

#commerce-checkout-form-checkout .commerce_coupon label,
#commerce-checkout-form-checkout .commerce_fieldgroup_pane__group_user_comments__ label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#commerce-checkout-form-checkout .commerce_coupon .fieldset-wrapper,
#commerce-checkout-form-checkout .commerce_fieldgroup_pane__group_user_comments__ .fieldset-wrapper {
  padding-top: 30px;
  padding-bottom: 0;
}
#commerce-checkout-form-checkout .commerce_fieldgroup_pane__group_order_tos__ legend {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#commerce-checkout-form-checkout .commerce_fieldgroup_pane__group_order_tos__ .fieldset-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
#commerce-checkout-form-checkout .redirect-list {
  display: none;
}

/* Search */
.page-sok .region-content h2 {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  margin-left: 5px;
  margin-bottom: 1em;
}
.page-sok .region-content .search-performance {
  color: #999;
  font-size: 1.083em;
  margin-left: 5px;
  margin-bottom: 1em;
}
.page-sok .search-results {
  clear: both;
  text-align: left;
}
.page-sok .search-results .article {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}
.page-sok .search-results .article.views-row-5 {
  clear: both;
}
.page-sok .search-results .article.views-row-9 {
  clear: both;
}
.page-sok .search-results .article.views-row-13 {
  clear: both;
}
.page-sok .search-results .article.views-row-17 {
  clear: both;
}
.page-sok .search-results .article.views-row-21 {
  clear: both;
}
.page-sok .search-results .article.views-row-25 {
  clear: both;
}
.page-sok .search-results .article.views-row-29 {
  clear: both;
}
.page-sok .sidebar {
  margin-top: 3.5em;
}
.page-sok .sidebar .block-facetapi {
  background-color: #3d3d3d;
  padding: 15px 5px;
  margin-right: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.page-sok .sidebar .block-facetapi .block-title {
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 0.333em;
}
.page-sok .sidebar .block-facetapi ul {
  margin: 0;
  list-style: none;
}
.page-sok .sidebar .block-facetapi ul li {
  color: #fff;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
.page-sok .sidebar .block-facetapi ul a {
  color: #fff;
}
.page-sok .sidebar .block-facetapi ul input {
  margin-left: 0;
}
.page-sok .sidebar .block-facetapi ul input[checked=true] {
  color: #fff;
  font-weight: bold;
}

#search-api-page-search-form {
  text-align: center;
  background: #f4f4f4;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
}
#search-api-page-search-form .form-item {
  display: inline;
  margin: 0;
}
#search-api-page-search-form input {
  font-size: 1.083em;
}
#search-api-page-search-form input.form-text {
  margin-right: 0.5em;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#search-api-page-search-form input.form-text:focus, #search-api-page-search-form input.form-text:hover {
  -moz-box-shadow: 0 0 3px white;
  -webkit-box-shadow: 0 0 3px white;
  -o-box-shadow: 0 0 3px white;
  box-shadow: 0 0 3px white;
  border-color: #999;
}
#search-api-page-search-form input.form-submit {
  color: #fff;
  text-transform: uppercase;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}

/* User */
.page-user .panel-display {
  margin-bottom: 2em;
}
.page-user .pane-commerce-user-orders {
  margin: 1em 0;
}
.page-user .pane-commerce-user-orders .pane-title {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-weight: normal;
  margin-bottom: 0.5em;
}
.page-user .pane-commerce-user-orders table {
  border-top: 1px solid #e1e1e1;
}
.page-user .pane-commerce-user-orders table .views-field-order-number {
  text-align: center;
  width: 12.5%;
}

/* Pager */
.item-list .pager {
  margin-left: 0;
  margin-bottom: 15px;
  list-style: none;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
.item-list .pager li {
  display: inline;
}
.item-list .pager li.pager-current {
  margin: 0 0.5em;
}
.item-list .pager a,
.item-list .pager li.pager-current {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
.item-list .pager a {
  color: #8D2765;
}
.item-list .pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
