/**
 * Aller Theme
 *
 * Use this file to add custom styles.
 *
 * Use:
 * Compass - $ gem install compass
 * Compass 960.gs plugin - $ gem install compass-960-plugin
 *
 * Recommended:
 * Scout - http://mhs.github.com/scout-app/
 */
/* 960.gs configuration */
/* Variables */
/* Helpers */
/* AT theme overrides */
/* line 46, sass/allertheme.scss */
body.ptf-gwf-bitter #page-title,
body.ptf-gwf-bitter .article-title,
body.ptf-gwf-bitter .comment-title,
body.ptf-gwf-bitter .block-title,
body.ptf-gwf-bitter #nav-wrapper {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}

/* line 51, sass/allertheme.scss */
.fs-small {
  font-size: 0.922509225em;
}

/* line 57, sass/allertheme.scss */
.block-inner, .region-help, .messages,
#primary-nav, #secondary-nav,
#main-content > header, #branding, #attribution {
  margin-left: 5px;
  margin-right: 5px;
}

/* Base */
/* line 64, sass/allertheme.scss */
#site-name a {
  font-size: 1.5em;
  color: #fff;
}

/* line 69, sass/allertheme.scss */
#header-wrapper {
  border-bottom: none;
}

/* line 73, sass/allertheme.scss */
#menu-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -ms-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: linear-gradient(#cfcfcf, #e1e1e1);
  box-shadow: none;
  clear: both;
  min-height: 2.583em;
  top: 0;
  margin-top: 0.333em;
}
/* line 81, sass/allertheme.scss */
#menu-bar nav {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 86, sass/allertheme.scss */
#menu-bar nav .menu {
  margin: 0 5px;
}
/* line 88, sass/allertheme.scss */
#menu-bar nav .menu li {
  line-height: 2.067em;
  border-right: 1px solid #cacaca;
}
/* line 91, sass/allertheme.scss */
#menu-bar nav .menu li.first {
  border-left: 1px solid #cacaca;
}
/* line 95, sass/allertheme.scss */
#menu-bar nav .menu a {
  color: #373737;
  line-height: 2.067em;
  text-transform: none;
  padding: 0 24px;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 104, sass/allertheme.scss */
#menu-bar nav .menu a:focus, #menu-bar nav .menu a:hover, #menu-bar nav .menu a.active {
  color: #fff;
  background-color: #8d8d8d;
}

/* line 113, sass/allertheme.scss */
#content-wrapper {
  padding: 1em 0 0;
  border: none;
}
/* line 117, sass/allertheme.scss */
#content-wrapper.no-secondary {
  padding-top: 1em;
}

/* line 122, sass/allertheme.scss */
.breadcrumb-wrapper {
  background-color: #f4f4f4;
  margin: 0 0 1.5em;
  padding: 6px 0;
}
/* line 127, sass/allertheme.scss */
.breadcrumb-wrapper #breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: 0;
}
/* line 131, sass/allertheme.scss */
.breadcrumb-wrapper h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 134, sass/allertheme.scss */
.breadcrumb-wrapper #crumbs {
  font-weight: bold;
  margin-left: 6px;
}
/* line 138, sass/allertheme.scss */
.breadcrumb-wrapper #crumbs a {
  color: #333;
}
/* line 141, sass/allertheme.scss */
.breadcrumb-wrapper #crumbs a:hover {
  color: #8C2764;
}
/* line 146, sass/allertheme.scss */
.breadcrumb-wrapper #crumbs li span {
  padding: 0 10px;
}

/* Footer */
/* line 153, sass/allertheme.scss */
#page-footer {
  margin-top: 31px;
  border: none;
}
/* line 157, sass/allertheme.scss */
#page-footer .block-title {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.278em;
}
/* line 163, sass/allertheme.scss */
#page-footer .block-content,
#page-footer .content {
  font-size: 1.167em;
}
/* line 166, sass/allertheme.scss */
#page-footer .block-content li,
#page-footer .content li {
  margin-bottom: 0.214em;
}
/* line 170, sass/allertheme.scss */
#page-footer .block-region-four-first {
  margin-left: 40px;
}
/* line 173, sass/allertheme.scss */
#page-footer .block-region-four-fourth {
  margin-right: 40px;
}

/* line 177, sass/allertheme.scss */
#footer-panels-wrapper {
  padding-top: 1px;
  border-top: 1px solid #a4a4a4;
  border-bottom: none;
}
/* line 182, sass/allertheme.scss */
#footer-panels-wrapper .gpanel {
  background: #3d3d3d;
  margin: -33px 5px 0;
  padding-top: 2.5em;
  border-top: 1px solid #a4a4a4;
}

/* line 189, sass/allertheme.scss */
#footer-wrapper {
  color: #fff;
  border-top: none;
}

/* Produktvisning */
/* line 195, sass/allertheme.scss */
.page-type-produktvisning {
  /* Content */
}
/* line 198, sass/allertheme.scss */
.page-type-produktvisning #content .block-inner {
  background-color: #e9e9e9;
}

/* line 203, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full {
  padding: 40px 0;
  margin-bottom: 40px;
}
/* line 207, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-left {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 430px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
}
/* line 213, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-right {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  padding-right: 40px;
  margin-right: 0;
}
/* line 220, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-field-product-image figure {
  padding: 0;
}
/* line 223, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-field-product-image img {
  background: #FFF;
  -moz-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -o-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  display: block;
  padding: 10px;
}
/* line 231, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-title h2 {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 2.333em;
  font-weight: bold;
  letter-spacing: -0.014em;
  margin-top: 36px;
}
/* line 239, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-dynamic-field-forfatter {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-style: oblique;
  margin-bottom: 15px;
}
/* line 245, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart {
  margin-bottom: 23px;
  padding-top: 1.583em;
  padding-bottom: 0.5em;
  -moz-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -webkit-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -o-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  *zoom: 1;
}
/* line 254, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart .field-name-commerce-price {
  font-size: 1.25em;
  float: left;
}
/* line 258, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-style: oblique;
  line-height: 1.067em;
}
/* line 264, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table tbody,
.article-type-produktvisning.view-mode-full .group-cart table tr {
  border: none;
}
/* line 267, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table td {
  color: #333;
  text-align: left;
  float: left;
  padding: 0 0.35em 0 0;
}
/* line 274, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table td.price-label, .article-type-produktvisning.view-mode-full .group-cart table td.price-amount {
  font-size: 1em;
}
/* line 278, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-price td {
  font-size: 1.867em;
  line-height: 1;
}
/* line 282, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-list td {
  text-decoration: none;
}
/* line 286, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product {
  float: right;
  clear: both;
}
/* line 290, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product input.form-submit {
  font-size: 1.25em;
  background-image: url(../images/icon_addtocart.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background-image: url(../images/icon_addtocart.png), -webkit-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -moz-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -o-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -ms-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), linear-gradient(#a2668a, #8c2764);
  background-repeat: no-repeat;
  background-position: 94.5% center;
  padding: 11px 60px 11px 13px;
  margin: 7px;
  -webkit-border-radius: 14px 11px;
  -moz-border-radius: 14px 14px / 11px 11px;
  -o-border-radius: 14px 14px / 11px 11px;
  -ms-border-radius: 14px 14px / 11px 11px;
  -khtml-border-radius: 14px 14px / 11px 11px;
  border-radius: 14px 14px / 11px 11px;
}
/* line 301, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-details {
  font-size: 1.417em;
  line-height: 1.206em;
}
/* line 304, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .group-details .commerce-product-field {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 190px;
  margin: 0 0 16px;
}
/* line 309, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-field-product-description {
  font-size: 1.417em;
  line-height: 1.206em;
  margin-bottom: 37px;
}
/* line 314, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-field-product-author {
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 318, sass/allertheme.scss */
.article-type-produktvisning.view-mode-full .field-name-field-product-author h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

/* line 328, sass/allertheme.scss */
form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit,
input#edit-checkout,
input#edit-continue {
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  -webkit-border-radius: 5px 6px;
  -moz-border-radius: 5px 5px / 6px 6px;
  -o-border-radius: 5px 5px / 6px 6px;
  -ms-border-radius: 5px 5px / 6px 6px;
  -khtml-border-radius: 5px 5px / 6px 6px;
  border-radius: 5px 5px / 6px 6px;
  background-clip: padding-box;
  background: #a2668a, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background: #a2668a, -webkit-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -moz-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -o-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -ms-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, linear-gradient(#a2668a, #8c2764);
}
/* line 337, sass/allertheme.scss */
form.commerce-add-to-cart input.form-submit:hover,
.add-to-cart #edit-actions input.form-submit:hover,
input#edit-checkout:hover,
input#edit-continue:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px #8c2764;
  -webkit-box-shadow: 0 1px 5px #8c2764;
  -o-box-shadow: 0 1px 5px #8c2764;
  box-shadow: 0 1px 5px #8c2764;
}
