/**
 * Aller Theme
 *
 * Use this file to add custom styles.
 *
 * Use:
 * Compass - $ gem install compass
 * Compass 960.gs plugin - $ gem install compass-960-plugin
 *
 * Recommended:
 * Scout - http://mhs.github.com/scout-app/
 */
/* 960.gs configuration */
/* Variables */
/* Helpers */
/* AT theme overrides */
body.ptf-gwf-bitter #page-title,
body.ptf-gwf-bitter .article-title,
body.ptf-gwf-bitter .comment-title,
body.ptf-gwf-bitter .block-title,
body.ptf-gwf-bitter #nav-wrapper {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}

.fs-small {
  font-size: 0.922509225em;
}

.block-inner, .region-help, .messages,
#primary-nav, #secondary-nav,
#main-content > header, #branding, #attribution {
  margin-left: 5px;
  margin-right: 5px;
}

/* Base */
#branding {
  margin-top: 10px;
  margin-bottom: 2.083em;
}
#branding #logo img {
  display: block;
}
#branding hgroup {
  display: none;
}

#header-wrapper {
  border-bottom: none;
}
#header-wrapper .region-header {
  margin-top: 1em;
}

#menu-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -moz-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -o-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: -ms-linear-gradient(#cfcfcf, #e1e1e1);
  background-image: linear-gradient(#cfcfcf, #e1e1e1);
  box-shadow: none;
  clear: both;
  min-height: 2.583em;
  top: 0;
  margin-top: 0.333em;
}
#menu-bar nav {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#menu-bar nav .menu {
  margin: 0 5px;
}
#menu-bar nav .menu li {
  line-height: 2.067em;
  border-right: 1px solid #cacaca;
}
#menu-bar nav .menu li.first {
  border-left: 1px solid #cacaca;
}
#menu-bar nav .menu a {
  color: #373737;
  line-height: 2.067em;
  text-transform: none;
  padding: 0 24px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#menu-bar nav .menu a:focus, #menu-bar nav .menu a:hover, #menu-bar nav .menu a.active {
  color: #fff;
  background-color: #8d8d8d;
}

#content-wrapper {
  padding: 1em 0 0;
  border: none;
}
#content-wrapper.no-secondary {
  padding-top: 1em;
}

.breadcrumb-wrapper {
  background-color: #f4f4f4;
  margin: 0 0 1.5em;
  padding: 6px 0;
}
.breadcrumb-wrapper #breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: 0;
}
.breadcrumb-wrapper h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.breadcrumb-wrapper #crumbs {
  font-weight: bold;
  margin-left: 6px;
}
.breadcrumb-wrapper #crumbs a {
  color: #333;
}
.breadcrumb-wrapper #crumbs a:hover {
  color: #8C2764;
}
.breadcrumb-wrapper #crumbs li span {
  padding: 0 10px;
}

/* Footer */
#page-footer {
  margin-top: 31px;
  border: none;
}
#page-footer .block-title {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.278em;
}
#page-footer .block-content,
#page-footer .content {
  font-size: 1.167em;
}
#page-footer .block-content li,
#page-footer .content li {
  margin-bottom: 0.214em;
}
#page-footer .block-region-four-first {
  margin-left: 40px;
}
#page-footer .block-region-four-fourth {
  margin-right: 40px;
}

#footer-panels-wrapper {
  padding-top: 1px;
  border-top: 1px solid #a4a4a4;
  border-bottom: none;
}
#footer-panels-wrapper .gpanel {
  background: #3d3d3d;
  margin: -33px 5px 0;
  padding-top: 2.5em;
  border-top: 1px solid #a4a4a4;
}

#footer-wrapper {
  color: #fff;
  border-top: none;
}

/* Produktvisning */
.page-type-produktvisning {
  /* Content */
}
.page-type-produktvisning #content .block-inner {
  background-color: #e9e9e9;
}

.article-type-produktvisning.view-mode-full {
  padding: 40px 0;
  margin-bottom: 40px;
}
.article-type-produktvisning.view-mode-full .group-left {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 430px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
}
.article-type-produktvisning.view-mode-full .group-right {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  padding-right: 40px;
  margin-right: 0;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-image figure {
  padding: 0;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-image img {
  background: #FFF;
  -moz-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -webkit-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  -o-box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.51);
  display: block;
  padding: 10px;
}
.article-type-produktvisning.view-mode-full .field-name-title h2 {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 2.333em;
  font-weight: bold;
  letter-spacing: -0.014em;
  margin-top: 36px;
}
.article-type-produktvisning.view-mode-full .field-name-dynamic-field-forfatter {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-style: oblique;
  margin-bottom: 15px;
}
.article-type-produktvisning.view-mode-full .group-cart {
  margin-bottom: 23px;
  padding-top: 1.583em;
  padding-bottom: 0.5em;
  -moz-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -webkit-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  -o-box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  box-shadow: 0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  *zoom: 1;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-commerce-price {
  font-size: 1.25em;
  float: left;
}
.article-type-produktvisning.view-mode-full .group-cart table {
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-style: oblique;
  line-height: 1.067em;
}
.article-type-produktvisning.view-mode-full .group-cart table tbody,
.article-type-produktvisning.view-mode-full .group-cart table tr {
  border: none;
}
.article-type-produktvisning.view-mode-full .group-cart table td {
  color: #333;
  text-align: left;
  float: left;
  padding: 0 0.35em 0 0;
}
.article-type-produktvisning.view-mode-full .group-cart table td.price-label, .article-type-produktvisning.view-mode-full .group-cart table td.price-amount {
  font-size: 1em;
}
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-price td {
  font-size: 1.867em;
  line-height: 1;
}
.article-type-produktvisning.view-mode-full .group-cart table .commerce-price-savings-formatter-list td {
  text-decoration: none;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product {
  float: right;
  clear: both;
}
.article-type-produktvisning.view-mode-full .group-cart .field-name-field-display-product input.form-submit {
  font-size: 1.25em;
  background-image: url(../images/icon_addtocart.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background-image: url(../images/icon_addtocart.png), -webkit-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -moz-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -o-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), -ms-linear-gradient(#a2668a, #8c2764);
  background-image: url(../images/icon_addtocart.png), linear-gradient(#a2668a, #8c2764);
  background-repeat: no-repeat;
  background-position: 94.5% center;
  padding: 11px 60px 11px 13px;
  margin: 7px;
  -webkit-border-radius: 14px 11px;
  -moz-border-radius: 14px 14px / 11px 11px;
  -o-border-radius: 14px 14px / 11px 11px;
  -ms-border-radius: 14px 14px / 11px 11px;
  -khtml-border-radius: 14px 14px / 11px 11px;
  border-radius: 14px 14px / 11px 11px;
}
.article-type-produktvisning.view-mode-full .group-details {
  font-size: 1.417em;
  line-height: 1.206em;
}
.article-type-produktvisning.view-mode-full .group-details .commerce-product-field {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 190px;
  margin: 0 0 16px;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-description {
  font-size: 1.417em;
  line-height: 1.206em;
  margin-bottom: 37px;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-author {
  font-size: 1.25em;
  line-height: 1.2em;
}
.article-type-produktvisning.view-mode-full .field-name-field-product-author h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

/* Commerce */
.region-header .block-search {
  float: left;
}
.region-header .block-search form {
  text-align: left;
}
.region-header .block-search form .form-item {
  margin: 5px 0;
}
.region-header .block-search form .form-text {
  font-size: 1.167em;
  background: #fff;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 3px rgba(107, 107, 107, 0.75);
  -webkit-box-shadow: 0 0 3px rgba(107, 107, 107, 0.75);
  -o-box-shadow: 0 0 3px rgba(107, 107, 107, 0.75);
  box-shadow: 0 0 3px rgba(107, 107, 107, 0.75);
  width: 19.143em;
  height: calc(6px, 14px)1em;
  margin-right: 7px;
  padding: 6px 10px;
  border: 2px solid #595959;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: textfield;
}
.region-header .block-search form .form-submit {
  font-size: 1.25em;
  text-transform: uppercase;
  background: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 4px 15px;
  border: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}

.region-header .block-commerce-cart .block-content {
  text-align: center;
  background-color: #862560;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  -o-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18), 0 0 1px rgba(212, 212, 212, 0.18);
  border: 1px solid rgba(212, 212, 212, 0.18);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin: 5px 0 1em;
  padding: 3px 15px;
}
.region-header .block-commerce-cart .block-content .view-header div, .region-header .block-commerce-cart .block-content .view-header ul {
  margin: 0;
}
.region-header .block-commerce-cart .block-content .view-content,
.region-header .block-commerce-cart .block-content .cart-empty-block {
  color: #fff;
  font-family: "Bitter", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 1.5em;
}
.region-header .block-commerce-cart .block-content .view-content .views-field-quantity,
.region-header .block-commerce-cart .block-content .cart-empty-block .views-field-quantity {
  margin-right: 0.5em;
}
.region-header .block-commerce-cart .block-content .cart-empty-block {
  font-size: 1em;
  min-width: 19.167em;
}

form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit,
input#edit-checkout,
input#edit-continue {
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  -webkit-border-radius: 5px 6px;
  -moz-border-radius: 5px 5px / 6px 6px;
  -o-border-radius: 5px 5px / 6px 6px;
  -ms-border-radius: 5px 5px / 6px 6px;
  -khtml-border-radius: 5px 5px / 6px 6px;
  border-radius: 5px 5px / 6px 6px;
  background-clip: padding-box;
  background: #a2668a, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2668a), color-stop(100%, #8c2764));
  background: #a2668a, -webkit-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -moz-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -o-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, -ms-linear-gradient(#a2668a, #8c2764);
  background: #a2668a, linear-gradient(#a2668a, #8c2764);
}
form.commerce-add-to-cart input.form-submit:hover,
.add-to-cart #edit-actions input.form-submit:hover,
input#edit-checkout:hover,
input#edit-continue:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px #8c2764;
  -webkit-box-shadow: 0 1px 5px #8c2764;
  -o-box-shadow: 0 1px 5px #8c2764;
  box-shadow: 0 1px 5px #8c2764;
}
