/**
 * Aller Theme
 *
 * Use this file to add custom styles.
 *
 * Use:
 * Compass - $ gem install compass
 * Compass 960.gs plugin - $ gem install compass-960-plugin
 *
 * Recommended:
 * Scout - http://mhs.github.com/scout-app/
 */

@import "compass/utilities/general/clearfix";
@import "960/grid";
@import "compass/css3";

/* 960.gs configuration */
$ninesixty-columns: 24;
$ninesixty-gutter-width: 10px;


/* Variables */
$font-family-serif: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$font-family-headings: "Bitter", $font-family-serif;
$font-size: 12;


/* Helpers */
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* AT theme overrides */
body.ptf-gwf-bitter {
  #page-title,
  .article-title,
  .comment-title,
  .block-title,
  #nav-wrapper {
    font-family: $font-family-headings;
  }
}

.fs-small {
  font-size: 0.922509225em;
}

.block-inner, .region-help, .messages,
#primary-nav, #secondary-nav,
#main-content > header, #branding, #attribution {
  margin-left: 5px;
  margin-right: 5px;
}


/* Base */
#branding {
  margin-top: 10px;
  margin-bottom: calc-em(25px, 12px);

  #logo {
    img {
      display: block;
    }
  }
  hgroup {
    display: none;
  }
}

#header-wrapper {
  border-bottom: none;

  .region-header {
    margin-top: 1em;
  }
}

#menu-bar {
  @include background-image(linear-gradient(#cfcfcf, #e1e1e1));
  box-shadow: none;
  clear: both;
  min-height: calc-em(31px, 12px);
  top: 0;
  margin-top: calc-em(4px, 12px);

  nav {
    font-family: $font-family-headings;
    font-size: calc-em(15px, 12px);
    @include grid-container();

    .menu {
      margin: 0 5px;
      li {
        line-height: calc-em(31px, 15px);
        border-right: 1px solid #cacaca;
        &.first {
          border-left: 1px solid #cacaca;
        }
      }
      a {
        color: #373737;
        line-height: calc-em(31px, 15px);
        text-transform: none;
        padding: 0 24px;
        @include transition(all 0.3s ease-in-out);

        &:focus,
        &:hover,
        &.active {
          color: #fff;
          background-color: #8d8d8d;
        }
      }
    }
  }
}

#content-wrapper {
  padding: 1em 0 0;
  border: none;

  &.no-secondary {
    padding-top: 1em;
  }
}

.breadcrumb-wrapper {
  background-color: #f4f4f4;
  margin: 0 0 calc-em(18px, 12px);
  padding: 6px 0;

  #breadcrumb {
    @include grid-container();
    margin-bottom: 0;
  }
  h2 {
    @include element-invisible;
  }
  #crumbs {
    font-weight: bold;
    margin-left: 6px;

    a {
      color: #333;

      &:hover {
        color: #8C2764;
      }
    }

    li span {
      padding: 0 10px;
    }
  }
}

/* Footer */
#page-footer {
  margin-top: 31px;
  border: none;

  .block-title {
    font-size: calc-em(18px, 12px);
    line-height: 1;
    margin-bottom: calc-em(5px, 18px);
  }
  .block-content,
  .content {
    font-size: calc-em(14px, 12px);

    li {
      margin-bottom: calc-em(3px, 14px);
    }
  }
  .block-region-four-first {
    margin-left: 40px;
  }
  .block-region-four-fourth {
    margin-right: 40px;
  }
}
#footer-panels-wrapper {
  padding-top: 1px;
  border-top: 1px solid #a4a4a4;
  border-bottom: none;

  .gpanel {
    background: #3d3d3d;
    margin: -33px 5px 0;
    padding-top: calc-em(30px, 12px);
    border-top: 1px solid #a4a4a4;
  }
}
#footer-wrapper {
  color: #fff;
  border-top: none;
}

/* Produktvisning */
.page-type-produktvisning {

  /* Content */
  #content .block-inner {
    background-color: #e9e9e9;
  }
}

.article-type-produktvisning.view-mode-full {
  padding: 40px 0;
  margin-bottom: 40px;

  .group-left {
    @include grid(11);
    @include grid-prefix(1);
    @include grid-suffix(1);
    @include alpha;
  }
  .group-right {
    @include grid(10);
    @include grid-suffix(1);
    @include omega;
  }

  .field-name-field-product-image {
    figure {
      padding: 0;
    }
    img {
      background: #FFF;
      @include box-shadow(0 0 10px rgba(37,37,37,0.51));
      display: block;
      padding: 10px;
    }
  }
  .field-name-title {
    h2 {
      font-family: $font-family-headings;
      font-size: calc-em(28px, 12px);
      font-weight: bold;
      letter-spacing: -0.014em;
      margin-top: 36px;
    }
  }
  .field-name-dynamic-field-forfatter {
    font-family: $font-family-headings;
    font-size: calc-em(18px, 12px);
    font-style: oblique;
    margin-bottom: 15px;
  }
  .group-cart {
    margin-bottom: 23px;
    padding-top: calc-em(19px, 12px);
    padding-bottom: calc-em(6px, 12px);
    @include box-shadow(0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9);
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #d9d9d9;
    @include clearfix;

    .field-name-commerce-price {
      font-size: calc-em(15px, 12px);
      float: left;
    }
    table {
      font-family: $font-family-headings;
      font-style: oblique;
      line-height: calc-em(16px, 15px);

      tbody,
      tr {
        border: none;
      }
      td {
        color: #333;
        text-align: left;
        float: left;
        padding: 0 0.35em 0 0;

        &.price-label,
        &.price-amount {
          font-size: 1em;
        }
      }
      .commerce-price-savings-formatter-price td {
        font-size: calc-em(28px, 15px);
        line-height: 1;
      }
      .commerce-price-savings-formatter-list td {
        text-decoration: none;
      }
    }
    .field-name-field-display-product {
      float: right;
      clear: both;

      input.form-submit {
        font-size: calc-em(15px, 12px);
        @include background-image(url(../images/icon_addtocart.png), linear-gradient(#A2668A, #8C2764));
        background-repeat: no-repeat;
        background-position: 94.5% center;
        padding: 11px 60px 11px 13px;
        margin: 7px;
        @include border-radius(14px 14px, 11px 11px);
      }
    }
  }
  .group-details {
    font-size: calc-em(17px, 12px);
    line-height: calc-em(20.5px, 17px);
    .commerce-product-field {
      @include grid(5);
      margin: 0 0 16px;
    }
  }
  .field-name-field-product-description {
    font-size: calc-em(17px, 12px);
    line-height: calc-em(20.5px, 17px);
    margin-bottom: 37px;
  }
  .field-name-field-product-author {
    font-size: calc-em(15px, 12px);
    line-height: calc-em(18px, 15px);

    h3 {
      font-size: 1em;
      margin-bottom: 10px;
    }
  }
}

/* Commerce */
.block-search {
  .region-header & {
    float: left;

    form {
      text-align: left;
      .form-item {
        margin: 5px 0;
      }
      .form-text {
        font-size: calc-em(14px, 12px);
        background: #fff;
        background-clip: padding-box;
        @include box-shadow(0 0 3px rgba(107,107,107,0.75));
        width: calc-em(268px, 14px);
        height: calc(6px, 14px) + 1em;
        margin-right: 7px;
        padding: 6px 10px;
        border: 2px solid #595959;
        @include border-radius(5px);
        -webkit-appearance: textfield;
      }
      .form-submit {
        font-size: calc-em(15px, 12px);
        text-transform: uppercase;
        background: #fff;
        @include box-shadow(0 1px 3px rgba(0,0,0,0.25));
        padding: 4px 15px;
        border: none;
        @include border-radius(12px);
      }
    }
  }
}

.block-commerce-cart {
  .region-header & .block-content {
    text-align: center;
    background-color: #862560;
    @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.18), 0 0 1px rgba(212,212,212,0.18));
    border: 1px solid rgba(212,212,212,0.18);
    @include border-radius(7px);
    margin: 5px 0 1em;
    padding: 3px 15px;

    .view-header {
      div, ul {
        margin: 0;
      }
    }
    .view-content,
    .cart-empty-block {
      color: #fff;
      font-family: $font-family-headings;
      font-size: calc-em(18px, 12px);
      .views-field-quantity {
        margin-right: 0.5em;
      }
    }
    .cart-empty-block {
      font-size: 1em;
      min-width: calc-em(230px, 12px);
    }
  }
}

form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit,
input#edit-checkout,
input#edit-continue {
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  @include box-shadow(0 1px 7px rgba(0,0,0,0.5));
  border: 2px solid #fff;
  @include border-radius(5px 5px, 6px 6px);
  background-clip: padding-box;
  @include background-with-css2-fallback(#A2668A, linear-gradient(#A2668A, #8C2764));

  &:hover {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    @include box-shadow(0 1px 5px #8C2764);
  }
}