/**
 * Aller Theme
 *
 * Use this file to add custom styles.
 *
 * Use:
 * Compass - $ gem install compass
 * Compass 960.gs plugin - $ gem install compass-960-plugin
 *
 * Recommended:
 * Scout - http://mhs.github.com/scout-app/
 */

@import "compass/utilities/general/clearfix";
@import "960/grid";
@import "compass/css3";

/* 960.gs configuration */
$ninesixty-columns: 24;
$ninesixty-gutter-width: 10px;


/* Variables */
$font-family-serif: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$font-family-headings: "Bitter", $font-family-serif;
$font-size: 12;


/* Helpers */
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* AT theme overrides */
body.ptf-gwf-bitter {
  #page-title,
  .article-title,
  .comment-title,
  .block-title,
  #nav-wrapper {
    font-family: $font-family-headings;
  }
}

.fs-small {
  font-size: 0.922509225em;
}

.block-inner, .region-help, .messages,
#primary-nav, #secondary-nav,
#main-content > header, #branding, #attribution {
  margin-left: 5px;
  margin-right: 5px;
}


/* Base */
#top-bar-wrapper {
  border-bottom: 1px solid #d1a9c1;

  a {
    color: #000;
    &:hover,
    &.active {
      color: #8d2765;
    }
  }
  .block {
    float: left;
    margin: 0;
    padding: 9px 0;
  }
  #block-system-user-menu {
    float: right;
  }
  .block-title {
    @include element-invisible;
  }
  .content {
    .menu {
      line-height: 1;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0;
        padding: 0 1em;
        list-style: none;
        list-style-image: none;
        border-right: 2px solid #7f7f7f;

        &.first {
          padding-left: 0.5em;
        }
        &.last {
          padding-right: 0.5em;
          border-right: none;
        }
      }
    }
  }
}

#branding {
  @include grid(8);
  margin: 15px 0 calc-em(25px, 12px);

  #logo {
    img {
      display: block;
    }
  }
  hgroup {
    display: none;
  }
}

#header-wrapper {
  border-bottom: none;
  padding-top: 1em;

  .region-header {
    @include grid(16);
    margin: 1em 0 0;
  }
}

#menu-bar {
  @include background-image(linear-gradient(#cfcfcf, #e1e1e1));
  box-shadow: none;
  clear: both;
  min-height: calc-em(31px, 12px);
  top: 0;
  margin-top: calc-em(4px, 12px);

  nav {
    font-family: $font-family-headings;
    font-size: calc-em(15px, 12px);
    @include grid-container();
    position: relative;
    z-index: 10;

    .menu {
      margin: 0 5px;
      li {
        line-height: calc-em(31px, 15px);
        border-right: 1px solid #cacaca;
        position: relative;
        &.first {
          border-left: 1px solid #cacaca;
        }
      }
      a {
        color: #373737;
        line-height: calc-em(31px, 15px);
        text-transform: none;
        padding: 0 24px;
        @include transition(all 0.3s ease-in-out);

        &:focus,
        &:hover,
        &.active,
        &.active-trail {
          color: #fff;
          background-color: #8d8d8d;
          background-color: #3d3d3d;
        }
      }
      ul {
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
        border: 4px solid #3d3d3d;
        position: absolute;
        margin-top: calc-em(31px, 15px);
        margin-left: 0;
        @include opacity(1);

        li {
          font-size: 1em;
          float: none;
          display: block;
          border: none;
          overflow: hidden;
          &.first,
          &.last {
            border: none;
          }
          &.dhtml-menu-cloned-leaf {
            display: none;
          }
        }
        a,
        a.active,
        &.active-trail {
          color: #fe8f00;
          font-weight: bold;
          font-style: normal;
          white-space: nowrap;
          background: none;
          display: block;
          float: none;
          min-width: calc-em(135px, 15px);
          padding: 0 1em;

          &:hover {
            color: #3d3d3d;
            background: none;
          }
        }
      }
      ul ul {
        border: none;
        position: relative;
        margin: 0;
        clear: both;

        a {
          color: #3d3d3d;
          font-size: calc-em(14px, 15px);
          font-weight: normal;
          &:hover {
            color: #fe8f00;
            
          }
        }
      }
    }
  }
}

#secondary-content-wrapper {
  background-color: #e8e8e8;
  margin-top: 15px;

  .region,
  .block,
  .texture-overlay {
    margin: 0;
    padding: 0;
  }
  .block-block {
    p, img {
      display: block;
      margin: 0;
    }
  }
}

#content-wrapper {
  padding: 1em 0 0;
  border: none;

  &.no-secondary {
    padding-top: 1em;

    .page-home & {
      padding-top: calc-em(24px, 12px);
    }
  }
}

.breadcrumb-wrapper {
  background-color: #f4f4f4;
  margin: 0 0 calc-em(18px, 12px);
  padding: 6px 0;

  #breadcrumb {
    @include grid-container();
    margin-bottom: 0;
  }
  h2 {
    @include element-invisible;
  }
  #crumbs {
    font-weight: bold;
    margin-left: 6px;

    a {
      color: #333;

      &:hover {
        color: #8C2764;
      }
    }

    li span {
      padding: 0 10px;
    }
  }
}

/* Footer */
#page-footer {
  margin-top: 31px;
  border: none;

  .block-title {
    font-size: calc-em(18px, 12px);
    line-height: 1;
    margin-bottom: calc-em(5px, 18px);
  }
  .block-content,
  .content {
    font-size: calc-em(14px, 12px);

    li {
      margin-bottom: calc-em(3px, 14px);
    }
  }
  .block-region-four-first {
    margin-left: 40px;
  }
  .block-region-four-fourth {
    margin-right: 40px;
  }
}
#footer-panels-wrapper {
  padding-top: 1px;
  border-top: 1px solid #a4a4a4;
  border-bottom: none;

  .gpanel {
    background: #3d3d3d;
    margin: -33px 5px 0;
    padding-top: calc-em(30px, 12px);
    border-top: 1px solid #a4a4a4;
  }
}
#footer-wrapper {
  color: #fff;
  border-top: none;
}

/* Hjem */
.page-home {
  #columns {
    background-color: #e9e9e9;
    margin: 0 5px;
  }
  .region-sidebar-second {
    margin-top: calc-em(67px, 12px);
    .block {
      @include grid-suffix(1);
    }
  }
}

#hjem {
  margin: 30px;

  .pane-title {
    font-family: $font-family-headings;
    margin-left: 5px;
    margin-bottom: 0.5em;
    
  }
  .pane-content {
    background: transparent url(../images/bg_pane-shadow.png) no-repeat 0 0;
    border-top: 1px solid #d7d7d7;
    padding-top: 26px;
  }
}

.pane-product-display-teasers-latest-products {
  .page-home & {
    .views-row {
      @include grid(4);

      $i: 5;
      @while $i < 30 {
        &.views-row-#{$i} {
          clear: both;
        }
        $i: $i + 4;
      }
    }
  }
}


/* Produktvisning */
.page-type-produktvisning {

  /* Content */
  #content .block-inner {
    background-color: #e9e9e9;
  }
}

.article-type-produktvisning.view-mode-full {
  padding: 40px 0;
  margin-bottom: 40px;

  .group-left {
    @include grid(11);
    @include grid-prefix(1);
    @include grid-suffix(1);
    @include alpha;
  }
  .group-right {
    @include grid(10);
    @include grid-suffix(1);
    @include omega;
  }

  .field-name-field-product-image {
    figure {
      padding: 0;
    }
    img {
      background: #FFF;
      @include box-shadow(0 0 10px rgba(37,37,37,0.51));
      display: block;
      padding: 10px;
    }
  }
  .field-name-service-links-displays-group {
    text-align: right;
    height: calc-em(25px, 12px);
    margin: -2px -20px calc-em(-23px, 12px) 0;

    .service-links {
      div, iframe {
        text-align: right;
        vertical-align: top;
      }
      div iframe {
        vertical-align: baseline;
      }
    }
  }
  .field-name-title {
    h2 {
      font-family: $font-family-headings;
      font-size: calc-em(28px, 12px);
      font-weight: bold;
      letter-spacing: -0.014em;
      margin-top: 36px;
    }
  }
  .field-name-dynamic-field-forfatter {
    font-family: $font-family-headings;
    font-size: calc-em(18px, 12px);
    font-style: oblique;
    margin-bottom: 15px;
  }
  .group-cart {
    margin-bottom: 23px;
    padding-top: calc-em(19px, 12px);
    padding-bottom: calc-em(6px, 12px);
    @include box-shadow(0 -1px 0 #d9d9d9, 0 1px 0 #b9b9b9);
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #d9d9d9;
    @include clearfix;

    .field-name-commerce-price {
      font-size: calc-em(15px, 12px);
      float: left;
    }
    table {
      font-family: $font-family-headings;
      font-style: oblique;
      line-height: calc-em(16px, 15px);

      tbody,
      tr {
        border: none;
      }
      td {
        color: #333;
        text-align: left;
        float: left;
        padding: 0 0.35em 0 0;

        &.price-label,
        &.price-amount {
          font-size: 1em;
        }
      }
      .commerce-price-savings-formatter-price td {
        font-size: calc-em(28px, 15px);
        line-height: 1;
      }
      .commerce-price-savings-formatter-list td {
        text-decoration: none;
      }
    }
    .field-name-field-display-product {
      float: right;
      clear: both;

      input.form-submit {
        font-size: calc-em(15px, 12px);
        @include background-image(url(../images/icon_addtocart.png), linear-gradient(#A2668A, #8C2764));
        background-repeat: no-repeat;
        background-position: 94.5% center;
        padding: 11px 60px 11px 13px;
        margin: 7px;
        @include border-radius(14px 14px, 11px 11px);
      }
    }
  }
  .group-details {
    font-size: calc-em(17px, 12px);
    line-height: calc-em(20.5px, 17px);
    .commerce-product-field {
      @include grid(5);
      margin: 0 0 16px;
    }
  }
  .field-name-field-product-description {
    font-size: calc-em(17px, 12px);
    line-height: calc-em(20.5px, 17px);
    margin-bottom: 37px;
  }
  .field-name-field-product-author {
    font-size: calc-em(15px, 12px);
    line-height: calc-em(18px, 15px);

    h3 {
      font-size: 1em;
      margin-bottom: 10px;
    }
  }
}

.article-type-produktvisning.view-mode-teaser {
  text-align: center;

  .field-name-field-product-image {
    vertical-align: top;
    figure {
      margin-bottom: 1em;
      padding: 0;
    }
    img {
      display: block;
      @include box-shadow(0 0 10px rgba(37,37,37,0.51));
      @include transition(box-shadow 0.25s ease-in-out);
    }
    a:hover img {
      @include box-shadow(0 0 10px rgba(141,39,101,0.51));
    }
  }
  .field-name-title {
    font-family: $font-family-serif;
    line-height: calc-em(17px, 14px);
    margin-bottom: 2px;

    a {
      color: #8d2765;
      &:hover {
        color: darken(#8d2765, 10%);
      }
    }
  }
  .field-name-field-product-author {
    font-family: $font-family-serif;
    font-style: oblique;
    font-size: calc-em(14px, 12px);

    a {
      color: #000;
      &:hover {
        color: darken(#8d2765, 10%);
      }
    }
  }
  .field-name-commerce-price {
    color: #000;
    font-family: $font-family-serif;
    font-size: calc-em(16px, 12px);
    margin-top: calc-em(9px, 16px);
  }
}

/* Commerce */
.block-search-api-page {
  .region-header & {
    @include grid(9);
    margin: 8px 0 0;

    form {
      text-align: left;
      .form-item {
        display: inline;
        margin: 5px 0;
      }
      .form-text {
        font-size: calc-em(14px, 12px);
        background: #fff;
        background-clip: padding-box;
        width: 228px;
        height: calc(6px, 14px) + 1em;
        margin-right: 7px;
        padding: 6px 10px;
        border: 2px solid #6f6f6f;
        border-top-color: #686868;
        border-bottom-color: #747474;
        @include border-radius(6px);
        -webkit-appearance: textfield;

        &:focus {
          @include box-shadow(0 0 5px rgba(255,255,255,0.4));
        }
      }
      .form-submit {
        font-size: calc-em(15px, 12px);
        text-transform: uppercase;
        background: #fff;
        @include box-shadow(0 1px 3px rgba(0,0,0,0.25));
        padding: 4px 15px;
        border: none;
        @include border-radius(15px);
      }
    }
  }
}

.block-commerce-cart {
  .region-header & {
    @include grid(6);
    margin: calc-em(-10px, 12px) 0 0;
    @include grid-prefix(1);

    .block-content {
      text-align: center;
      background-color: #862560;
      @include box-shadow(inset 0 1px 4px rgba(0,0,0,0.18), 0 0 1px rgba(212,212,212,0.18));
      border: 1px solid rgba(212,212,212,0.18);
      @include border-radius(7px);
      min-height: calc-em(60px, 12px);
      margin: 5px 0 calc-em(19px, 12px);
      padding: 3px 15px;

      .view-header {
        div, ul {
          text-align: center;
          display: inline-block;
          float: none;
          margin: 0;
        }
        .line-item-summary {
          width: 100%;
          display: block;
        }
        ul {
          font-size: calc-em(13px, 18px);
        }
      }
      .cart-contents,
      .cart-empty-block {
        color: #fff;
        font-family: $font-family-headings;
        font-size: calc-em(18px, 12px);
        padding: 0;
        .views-field-quantity {
          margin-right: 0.5em;
        }
      }
      .cart-empty-block {
        font-size: 1em;
        display: block;
        margin-top: calc-em(21px, 12px);
      }
      .cart-contents {
        background: transparent;
      }
      .view-content {
        display: none;
      }
    }
  }
}

.block-menu {
  .sidebar & .block-inner {
    background-color: #3d3d3d;
    margin: 0;
    padding: 15px 20px;
    @include border-radius(10px);

    .menu {
      font-family: $font-family-headings;
      font-size: calc-em(15px, 12px);
      line-height: calc-em(32px, 15px);
      margin: 0;

      li {
        margin: 0 0 -1px;
        padding: 0;
        list-style: none;
        list-style-image: none;
      }
      a {
        color: #fff;
        background: transparent url(../images/icon_sidebar-dropdown.png) no-repeat right center;
        display: block;
        padding-left: 1px;
        border-top: 1px solid #868686;
        border-bottom: 1px solid #868686;
      }
      .first a {
        border-top: none;
      }
      .last a {
        border-bottom: none;
      }

      ul {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc-em(12px, 15px);
        margin-bottom: 0.5em;

        li {
          font-size: 1em;
          font-style: normal;
          margin-left: 10px;

          &.dhtml-menu-cloned-leaf {
            font-size: calc-em(13px, 12px);
            margin-left: 0;
          }
        }
        a {
          background: none;
          border: none;
        }
      }
    }
  }
}

form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit,
input#edit-checkout,
input#edit-continue {
  font-size: 1em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  background-clip: padding-box;
  @include background-with-css2-fallback(#A2668A, linear-gradient(#A2668A, #8C2764));
  @include box-shadow(0 1px 7px rgba(0,0,0,0.5));
  border: 2px solid #fff;
  @include border-radius(6px);
  padding: 3px 5px 4px;

  &:hover {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    @include box-shadow(0 1px 5px #8C2764);
  }
}

/* Pager */

.item-list .pager {
  margin-left: 0;
  margin-bottom: 15px;
  list-style: none;
  text-align: center;
  @include clearfix;

  li {
    display: inline;
    &.pager-current {
      margin: 0 0.5em;
    }
  }
  a,
  li.pager-current {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    @include border-radius(15px);
  }
  a {
    color: #8D2765;
    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
}
