/**
 * SEE allertheme_preprocess_html() in
 * template.php for details on how to
 * load this or additional IE stylesheets.
 */

@import "base";

#menu-bar {
  background: #e1e1e1 url('../images/bg_menubar-ie.png') repeat-x 0 0;

  nav {
    .sf-menu {
      .sf-sub-indicator {
        top: 0.7em;
      }
      ul {
        margin: calc-em(-15px, 15px) 0 0;
      }
    }
  }
}

.block-commerce-cart {
 .region-header & {
   .block-content {
     background-image: url('../images/bg_innershadow-ie.png');
     background-repeat: repeat-x;
     background-position: 0 0;
     border: 1px solid #944274;
     box-shadow: none;

     .ie6-8 & {
       @include PIE;
     }
   }
 }
}

.block-search-api-page {
  .region-header & {
    form {
      .form-text {
        .ie6-8 & {
          @include PIE;
        }
      }
      .form-submit {
        filter: none;
        .ie6-8 & {
          box-shadow: 0 1px 3px #751a53;
          @include PIE;
        }
      }
    }
  }
}

.ie6-8 .view-nodequeue-1 {
  .attachment {
    margin-top: -59px;
    margin-bottom: -97px;
    padding-top: 7px;
    overflow: hidden;

    .views-row {
      box-shadow: 0 0 7px rgba(0,0,0,0.75);
      @include PIE;
    }
  }
}

.ie6-8 .block-menu {
  .sidebar & .block-inner {
    @include PIE;
  }
}

.article-type-produktvisning.view-mode-full {
  .field-field-product-image {
    img {
      .ie6-8 & {
        box-shadow: 0 0 10px #bcbcbc;
        @include PIE;
      }
    }
    .gallery-slides {
      .colorbox,
      .colorbox:hover {
        filter: none;
        z-index: 5;
      }
    }
  }
  .group-cart {
    background: #E9E9E9;
    .ie6-8 & {
      @include PIE;
    }
    .field-name-field-display-product {
      input.form-submit {
        .ie6-8 & {
          @include PIE;
        }
      }
    }
  }
}

form.commerce-add-to-cart input.form-submit,
.add-to-cart #edit-actions input.form-submit {
  filter: none;
  box-shadow: 0 1px 7px #999;

  &:hover {
    filter: none;
    box-shadow: 0 1px 5px #8C2764;
  }
}

input#edit-checkout,
input#edit-continue,
input#edit-cancel,
input#edit-back,
.view-commerce-cart-form input#edit-submit {
  filter: none;
  box-shadow: 0 1px 7px #999;
  .ie6-8 & {
    @include PIE;
  }

  &:hover {
    filter: none;
    box-shadow: 0 1px 5px #8C2764;
  }
}

.page-checkout {
  fieldset {
    box-shadow: none;
    padding: 10px;
    border: 5px solid #f0f0f0;
  }
  #commerce-checkout-form-checkout #account-login-container {
    box-shadow: none;
    padding: 10px 33px;
    border: 5px solid #f0f0f0;
  }
  legend {
    width: 0;
    height: 0;

    .fieldset-legend {
      color: #313131;
      margin-left: 10px;
      white-space: nowrap;
    }
  }
}
